@import '~@angular/material/theming';

@include mat-core();

$mat-gray-7: (
  50: #F8F7F7,
  100: #EFEEEE,
  200: #E4E3E3,
  300: #D2D1D1,
  400: #ADACAC,
  500: #8C8B8B,
  600: #656464,
  700: #525151,
  800: #343333,
  900: #141313,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
  )
);

$mat-accent-master-card: (
  50: #CF4500,
  100: #F38B00,
  200: #FFC61E,
  300: #628020,
  400: #25836D,
  500: #FFFFFF,
  600: #FFFFFF,
  700: #FFFFFF,
  800: #FFFFFF,
  900: #FFFFFF,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: FFFFFF,
    900: FFFFFF,
    A100: FFFFFF,
  )
);

$my-theme-accent-orange:mat-palette($mat-accent-master-card,50);
$my-theme-accent-gold:mat-palette($mat-accent-master-card,100);
$my-theme-accent-yellow:mat-palette($mat-accent-master-card,200);
$my-theme-accent-green:mat-palette($mat-accent-master-card,300);
$my-theme-accent-teal:mat-palette($mat-accent-master-card,400);

$my-theme-accent:mat-palette($mat-accent-master-card,300);
$my-theme-primary:mat-palette($mat-gray-7,900);
$my-theme-warm:mat-palette($mat-red);

$my-theme: mat-light-theme($my-theme-primary,$my-theme-accent,$my-theme-warm);


@include angular-material-theme($my-theme);