/* You can add global styles to this file, and also import other style files */


/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import url("assets/css/dxp-fonts.min.css");

body{
	font-family:MarkForMCNrw!important;
}
.confirm-dialog-container .mat-dialog-container {
    border-radius: .3em;
    padding: 10px;
    border-top: 25px solid #86BC25;
}

.confirm-dialog-container .content-container {
    margin: 5px 5px 15px 5px;
    display: flex;
}

.confirm-dialog-container #close-icon {
    margin-left: auto;
    order: 2;
    padding: 0;
    font-weight: bolder;
}

div.mat-expansion-panel-body {
    padding: 0px;
}

.custom-toolbar {
    min-height: 50px !important;
    height: 50px !important;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.dashboard-height {
    height: 250px;
}

.green_accent {
    background-color: #628020;
    color: #FFFFFF;
}

.mat-tab-header {
    background-color: #323231;
    font-family: MarkForMCNrw!important;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    padding: 0 30px;
}

.mat-tab-label {
    min-width: 25px !important;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: MarkForMCNrw!important;
}


/* Styles for the active tab label */

.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    color: #FFFFFF;
    font-weight: 700;
    font-family: MarkForMCNrw!important;
	
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #FFFFFF;
    height: 6%;
}

.logo {
   
    overflow: hidden;
    display: flex;
    position: relative;
	font-family:MarkForMC-ExtraLt!important;
	font-size: 20px;
		    align-items: center;
}
.logo svg{
	    margin-right: 0.5rem;
}
.logo strong{
	font-family:MarkForMC-Bold!important;
	    padding-right: 0.5rem;
}
.logo img{
	top: -630px;
    POSITION: relative;
    Z-INDEX: 1;
    left: -15px;
}

.full-width {
    width: 100%;
}

.btn-orange {
    background: #cc4400;
    color: #FFFFFF;
    width: 120px;
    max-width: 40%;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
}

.btn-orange:hover {
    background: #882200 !important;
}

.common-font-family {
    font-family: MarkForMCNrw!important;
}

.font-MarkForMC {
    font-family: MarkForMC!important;
}

.orange {
    color: #CC4400;
}


.font-white {
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
}

.app-title-text {
    font-size: 12.5px;
    margin-top: 4.24px;
    margin-left: -5px;
    color: #FFF;
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6{
	    font-family: MarkForMCNrw!important;
font-size:14px;
}

.btn-primary{
  background:#cc4400;
  width: auto;
  max-width: 40%;
  padding: 0.5rem 2.5rem;
  border-radius: 3rem;
  border:none;
  cursor: pointer;
  border:2px solid transparent;
}

.btn-primary:hover{
  background:#852d01;
  border-color: #ffff;

border:2px solid transparent;
 
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
	 background:#852d01;
	 border:2px solid #ffff;
  -webkit-box-shadow: 0px 0px 15px -5px rgba(207,69,0,1);
-moz-box-shadow: 0px 0px 15px -5px rgba(207,69,0,1);
box-shadow: 0px 0px 15px -5px rgba(207,69,0,1);
}
.btn-primary.focus, .btn-primary:focus {
	 background:#cc4400;
    box-shadow: none;
	border:2px solid #ffff;
	-webkit-box-shadow: 0px 0px 15px -5px rgba(207,69,0,1);
-moz-box-shadow: 0px 0px 15px -5px rgba(207,69,0,1);
box-shadow: 0px 0px 15px -5px rgba(207,69,0,1);
}
.btn.focus, .btn:focus {
    outline: 0;
	border:2px solid #ffff;
   	-webkit-box-shadow: 0px 0px 15px -5px rgba(207,69,0,1);
-moz-box-shadow: 0px 0px 15px -5px rgba(207,69,0,1);
box-shadow: 0px 0px 15px -5px rgba(207,69,0,1);
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #e7a280;
    border-color: #e7a280;
}

.navbar-toggler{
	border:none;
}
.top-section{
	background: #323231;
}
.top-section .mat-toolbar{
		background:transparent;
}
.top-section form{
	padding: 0 45px;
}
.top-section form label{
	color:#fff!important;
}
.top-section .mat-toolbar-row, .top-section .mat-toolbar-single-row{
	color:#fff;
	    padding: 0 45px;
}
.top-section .mat-tab-header{
	border-bottom: none;
	padding:0 45px;
}
.content-section .mat-tab-label-{
	padding:0 45px;
}
.content-section .mat-tab-body-wrapper{
	padding:30px 45px;
}
.top-section .mat-toolbar, .top-section .mat-toolbar h1, .top-section .mat-toolbar h2, .top-section .mat-toolbar h3, .top-section .mat-toolbar h4, .top-section .mat-toolbar h5, .top-section .mat-toolbar h6{
	font-family:MarkForMCNrw!important;
	font-size: 28px;
	letter-spacing: 0.5px;
}
.content-section .mat-tab-label{
	opacity:1;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
.content-section .mat-tab-label{
	font-weight:400;
}
.content-section .ag-theme-balham .ag-root-wrapper{
	border:none;
}
.content-section .ag-theme-balham .ag-pinned-right-header{
	    border-left: none;
}
.content-section .ag-theme-balham .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left):not(.ag-cell-range-single-cell) {
    border-left: none;
}
.content-section .ag-header-cell-text{
	color:#000;
	font-family:MarkForMC-Med!important;
	font-size:13px;
}
.content-section .ag-theme-balham .ag-header-cell::after,.content-section .ag-theme-balham .ag-header-group-cell::after{
	content:". . .";
	background:none;
	       top: 6px;
    transform: rotate(90deg);
	letter-spacing: 1px;
	    font-size: 14px;
}

.ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell{
	border-bottom:2px solid #cec9c3;
	
}
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
@media screen and (max-width: 768px) {
	.top-section .mat-tab-header {
	padding:0 25px;
}
.content-section .mat-tab-body-wrapper{
	padding:0 25px;
}

.content-section .mat-tab-body-wrapper{
	padding:0 25px;
}
.top-section .mat-toolbar-row, .top-section .mat-toolbar-single-row{
	padding:0 25px;
}
.top-section form{
	padding: 0 25px;
}
}


@media screen and (max-width: 420px) {
	
	.top-section .mat-tab-header {
	padding:0 16px;
}
.content-section .mat-tab-body-wrapper{
	padding:0 16px;
}

.content-section .mat-tab-body-wrapper{
	padding:0 16px;
}
.top-section .mat-toolbar-row, .top-section .mat-toolbar-single-row{
	padding:0 16px;
}
.top-section form{
	padding: 0 16px;
}
}
