<div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
  <app-top-tool-bar [navigationDataSet]="folders"></app-top-tool-bar>
  <div class="main-container">
    <router-outlet></router-outlet>
    <app-fixed-footer></app-fixed-footer>
  </div>
</div>