mat-sidenav.mat-drawer.mat-sidenav.ng-tns-c4-0.ng-trigger.ng-trigger-transform.mat-drawer-side.ng-star-inserted {
	width: 220px;
}

mat-list-item.mat-list-item.mat-2-line.mat-list-item-avatar.mat-list-item-with-avatar.ng-star-inserted {
	cursor: pointer;
}

.cursor {
	cursor: pointer;
}

mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
	color: #eee;
}

mat-toolbar.mat-toolbar.mat-primary.mat-toolbar-multiple-rows {
	background-color: #000;
}

.main-container {
	width: 100%;
	position: absolute;
	top: 54px;
}

.main-sidenav {
	width: 220px;
}

.main-sidenav-content-area {
    background: #FFFFFF;
}

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}


.inner-container{
	top: 50px;
	padding: 0;
}