<h2 mat-dialog-title>Approve Invoice</h2>
<mat-dialog-content class="mat-typography">
  <form class="full-width" [formGroup]="approveInvoiceForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Approval Notes*</label>
      <div class="col-sm-10">
        <textarea formControlName="approvalNotes" class="form-control form-control-sm"
          placeholder="Please specify approval notes" required></textarea>
      </div>
    </div>
    <div align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [disabled]="!approveInvoiceForm.valid">Submit</button>
    </div>
  </form>
</mat-dialog-content>