<nav class="navbar fixed-top navbar-expand-lg navbar-dark my-navbar">
    <a class="navbar-brand" href="#">
        <span class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                id="Layer_1" x="0px" y="0px" width="43.75px" height="27px" viewBox="0 0 43.75 27"
                enable-background="new 0 0 43.75 27" xml:space="preserve">
                <g id="logo-for-twitter" transform="translate(28.000000, 627.000000)">
                    <rect id="Rectangle-path" x="-11.701" y="-623.071" fill="#F16022" width="11.303" height="20.311" />
                    <path id="XMLID_107_" fill="#E91D25"
                        d="M-10.982-612.916c0-4.12,1.929-7.79,4.934-10.155c-2.197-1.729-4.97-2.761-7.983-2.761   c-7.133,0-12.916,5.782-12.916,12.916S-21.165-600-14.032-600c3.013,0,5.786-1.031,7.983-2.761   C-9.054-605.126-10.982-608.796-10.982-612.916z" />
                    <path id="Shape_12_" fill="#F69E1E"
                        d="M14.848-612.916c0,7.134-5.781,12.916-12.915,12.916c-3.013,0-5.785-1.031-7.981-2.761   c3.004-2.365,4.933-6.035,4.933-10.155s-1.929-7.79-4.933-10.155c2.196-1.729,4.969-2.761,7.981-2.761   C9.066-625.832,14.848-620.05,14.848-612.916z M13.615-604.912v-0.416h0.168v-0.085h-0.427v0.085h0.168v0.416H13.615z    M14.445-604.912v-0.501h-0.131l-0.15,0.345l-0.151-0.345h-0.131v0.501h0.093v-0.378l0.141,0.326h0.096l0.142-0.327v0.379H14.445z" />
                </g>

            </svg>
            <strong>mastercard</strong> interchange invoice portal
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse topnav mobile-nav-bar-collapse" id="navbar1">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngFor="let navItem of navigationDataSet">
                <a class="nav-link" routerLink="/{{navItem.path}}">
                    {{navItem.label}}
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Support
                </a>
            </li>
            <li class="divider"></li>

            <li class="nav-item dropdown" style="display: none;">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>

            <li class="nav-item dxp">
                <a href="#" class="nav-link topicon"><img class="" src="assets/envelope.png"><span
                        class="badge">0</span></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false"><img class="" src="assets/user.png"></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item disabled" style="margin-top: -8px; cursor: alias;background-color: #E8E5E1;">{{loggedInUser}}</a>
                    <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--
    <mat-toolbar color="primary" style="min-height: 50px !important; height: 50px !important;">
    <mat-toolbar-row>
        <button mat-icon-button (click)="talkBack('N')">
            <i class="material-icons app-toolbar-menu">menu </i>
        </button>
        <span><img class="logo" src="assets/mc_hrz_rev.svg"></span>
        <span class="common-font-family app-title-text">Invoice bifurcation</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" class="flex cursor" FxLayoutAlign="flex-end" (click)="logout()">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>
-->