.my-navbar{
  height: 54px;
  background-color: #141313!important;
  padding-left:45px;
  padding-right:45px;
}
.cursor{cursor: pointer;}

.my-custom-button {
  background: transparent;
    color: white;
    border: none;
    border-bottom: 5px solid white;
    border-radius: 0px;
    margin-bottom: -15px;
    padding-bottom: 6px;
}

.topnav {
  overflow: hidden;
   
 
     margin-top: 7px;
}

.mobile-nav-bar-collapse{
  width: 100%;
  margin-left: -16px;
  margin-right: -16px;
  
}



.topnav a:hover {
  border-bottom: 3px solid #FFFFFF;
}

.topnav a.active {
  border-bottom: 3px solid #FFFFFF;
}

.mat-menu-panel {
  margin-top: 54px;
}
.topnav a{
	 display: block;
    text-align: center;
    padding: 15px 12px;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 3px solid transparent;
	    text-align: left;
}
.navbar-brand{
	    margin-right: 0rem;
}
.topicon{
	
}
.topnav .nav-item{
	padding-left:16px;
}
.topnav a.topicon{
	position:relative;
	padding-right:24px;
}
.topicon img{
	max-width:18px;
}
.topicon .badge{
	  position: absolute;
    background: #cf4500;
    color: #fff;
    top: 10px;
    font-size: 9px;
    padding: 0px 9px;
    border-radius: 10px;
    line-height: 15px;
}

@media screen and (max-width: 768px) {
	.topnav {
	 background-color:#323231!important;
	 -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
		}
		.divider{
	    background: #555250;
    height: 1px;
}
.topnav a {
    border-bottom:none;
	border-left:3px solid transparent;
}
.topnav a:hover {
    border-bottom:none;
	border-left:3px solid #fff;
}
.navbar-toggler:not(:disabled):not(.disabled){
	outline:none;
}
.my-navbar{
	    padding-left: 25px;
    padding-right: 25px;
}
.navbar-toggler{
	    padding: 0;
}
}
@media screen and (max-width: 580px) {
	.logo{
	font-size:14px;
		}
		.logo svg{
		width:30px;
		    margin-right: 5px;
			}
		
			
}
@media screen and (max-width: 420px) {
	.my-navbar{
	    padding-left: 16px;
    padding-right: 16px;
}		
}