<div class="row" style="margin: -24px;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <br />
  <form class="full-width" [formGroup]="icaForm" (ngSubmit)="onSubmitBank()" style="padding: 24px;">
    <div class="form-group">
      <label for="icaIdentifierField">ICA</label>
      <input formControlName="identifier" required type="text" class="form-control" id="icaIdentifierField"
        placeholder="Enter ICA Identifier">
    </div>
    <span class="example-spacer"></span>
    <button type="submit" class="btn btn-sm btn-orange" [disabled]="!icaForm.valid">Submit</button>
  </form>
  <br />
</div>