<mat-toolbar class="custom-background">
  <mat-toolbar-row class="toolbar-height">
    <span class="font-white">{{pageTitle}}</span>
    <span class="example-spacer"></span>
    <div *ngFor="let item of buttons">
      <div *ngIf="item.type === 'iconButton'">
        <button class="white-text" mat-icon-button (click)="item.btnClkHandler()">
          <mat-icon>{{item.icon}}</mat-icon>
        </button>
      </div>
      <div *ngIf="item.type === 'labelButton'">
        <button class="white-text" mat-button (click)="item.btnClkHandler(itm.refrence)">{{item.label}}</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>