/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

.confirm-dialog-container .mat-dialog-container{
    border-radius: .3em;
    padding:10px;
    border-top: 25px solid #86BC25;
}

.confirm-dialog-container .content-container{
    margin:5px 5px 15px 5px;
    display: flex;
}

.confirm-dialog-container #close-icon{
    margin-left:auto;

    order: 2;
    padding: 0;
    font-weight:bolder;
}

div.mat-expansion-panel-body {
    padding: 0px;
  }

.custom-toolbar {min-height: 50px !important; height: 50px !important;}
.full-width {width: 100%;}
.full-height {height: 100%;}
.dashboard-height {height: 250px;}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #628020;
    height: 6%;
}

.green_accent {
    background-color: #628020;
    color: #FFFFFF;
}
