<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <mat-card class="padding0">
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>Bank Management</span>
            <span class="example-spacer"></span>
            <button mat-button (click)="bankManager(null)">Add New Bank</button>
          </mat-toolbar-row>
        </mat-toolbar>
        <mat-progress-bar mode="indeterminate" *ngIf="bankLoading"></mat-progress-bar>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let item of banks">
              {{item.label}}
              <span class="example-spacer"></span>
              <button mat-icon-button (click)="bankManager(item.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="loadBankIca(item.id)">
                <mat-icon>navigate_next</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6">
      <mat-card class="padding0">
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>{{bankName}}</span>
            <span class="example-spacer"></span>
            <button mat-button (click)="icaManager(null)">Add New ICA</button>
          </mat-toolbar-row>
        </mat-toolbar>
        <mat-progress-bar mode="indeterminate" *ngIf="icaLoading"></mat-progress-bar>
        <mat-card-content>
          <p class="errorClass" *ngIf="icas.length==0">No ICA Defined</p>
          <mat-list>
            <mat-list-item *ngFor="let item of icas">
              {{item.label}}
              <span class="example-spacer"></span>
              <button mat-icon-button (click)="icaManager(item.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<br />