<h2 mat-dialog-title>Upload Invoice</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <div class="form-group">
      <label for="invoiceImport">Please select a file to import</label>
      <input #fileInput ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" type="file" class="form-control-sm form-control-file"
        id="invoiceImport" [uploadInput]="uploadInput" multiple>
      <mat-progress-bar *ngIf="fileUploadIsInProgress" mode="indeterminate"></mat-progress-bar>
    </div>
  </form>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let item of responseData">
      <span [innerHTML]="item.message"></span>
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="files.length==0" (click)="startUpload()" cdkFocusInitial>Upload</button>
</mat-dialog-actions>