<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <br />
      <mat-card>
        <mat-card-content>
          <form [formGroup]="localUserForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>First name</label>
                <input formControlName="firstName" required type="text" class="form-control form-control-sm">
              </div>
              <div class="form-group col-md-6">
                <label>Last name</label>
                <input formControlName="lastName" type="text" class="form-control form-control-sm">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>Email</label>
                <input formControlName="email" required type="email" class="form-control form-control-sm">
              </div>
              <div class="form-group col-md-4">
                <label>Username</label>
                <input formControlName="userName" required type="text" class="form-control form-control-sm">
              </div>
              <div class="form-group col-md-4">
                <label>Password</label>
                <input formControlName="password" required type="password" class="form-control form-control-sm">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>Role</label>
                <select formControlName="role" required class="form-control form-control-sm">
                  <option value="-1">Select role</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label>Bank</label>
                <select formControlName="bank" class="form-control form-control-sm">
                  <option value="-1">Select bank</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label>ICA</label>
                <select formControlName="allocatedIcas" class="form-control form-control-sm">
                  <option value="-1">Select ica</option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-sm btn-orangee">Submit</button>
          </form>
        </mat-card-content>
      </mat-card>
      <br />
    </div>
  </div>
</div>