.fixed-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.footer {
	background: #141413;
   color: #fff;
   font-family: MarkForMCNrw!important;
   font-size: 16px;
 justify-content: flex-start;
   padding:2.5rem 45px;
}

.footer .terms{
   padding-left:2rem;
}
.footer{
	    padding:0rem 45px;
		height:104px;
}
.footer.fixed-bottom{
	position: relative;
}
@media screen and (max-width: 768px) {
	
	
	.footer{
	    padding:0rem 25px;
		height:75px;
}
}
@media screen and (max-width: 767px) {
	.footer {
	 padding:0rem 25px;
		}
	.footer .terms{
   padding-left:1rem;
}
.footer.fixed-bottom{
	position: relative;
}
}

@media screen and (max-width: 580px) {
	
				.footer{
				 font-size: 14px;
					}
					
				
}

@media screen and (max-width: 420px) {
		
					.footer {
	 padding:1rem 16px;
		}
		.footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: left;
	align-items: flex-start;
}
.footer .terms{
   padding-left:0rem;
}
}


@media (min-width : 0px) and (max-width : 823px) and (orientation : landscape)  {
	.footer {
	 padding:1rem 16px;
		}
		.footer.fixed-bottom{
	position: relative;
}

	
}