
.container-fluid-custom {    padding: 0px;
  overflow-x: hidden;}

label{
  color:#000!important;
}

.btn-primary{
  background:#cc4400;
  width: auto;
  max-width: 40%;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  border:none;
  cursor: pointer;
}

.btn-primary:hover{
  background:#882200 !important;
}

.form-group {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.top-section{
	background: #323231;
}
.top-section .mat-toolbar{
		background:transparent;
}

.top-section form label{
	color:#fff!important;
}
.top-section .mat-toolbar-row, .top-section .mat-toolbar-single-row{
	color:#fff;
	    padding: 0 45px;
}

.margin-5{
  margin-top: -5px;
}
.top-section .mat-tab-header {
	padding:0 45px;
}
.content-section .mat-tab-body-wrapper{
	padding:0 45px;
}

.content-section .mat-tab-body-wrapper{
	padding:0 45px;
}

.action_icon_button {padding: 3px; cursor: pointer;}



