<div class="container-fluid container-fluid-custom top-section">
  <div class="row">
    <div class="col-sm-12">
      <div class="">
        <app-page-bar [pageTitle]="'Invoice Status'"></app-page-bar>
        <form class="full-width" [formGroup]="filterForm" (ngSubmit)="onSubmitFilters()">
          <div class="form-row">
            <div class="form-group col-lg-2 col-sm-4 col-6">
              <label>Invoice Number</label>
              <input formControlName="invoiceNumber" type="text" class="form-control form-control-sm" placeholder="Filter by invoice number"
              />
            </div>
            <div class="form-group col-lg-2 col-sm-4 col-6" *ngIf="!activeRole.includes('Issuer')">
              <label>Provider Bank Name</label>
              <select formControlName="issuer.bankID.id" class="form-control form-control-sm" (change)="onProviderBankNameChange($event.target.value)">
                <option value="-1">Filter by provider bank name</option>
                <option value="{{option.id}}" *ngFor="let option of bankNames">{{option.label}}</option>
              </select>
            </div>
            <div class="form-group col-lg-2 col-sm-4 col-6">
              <label>Provider ICA</label>
              <select formControlName="issuer.id" class="form-control form-control-sm">
                <option value="-1">Filter by provider ica</option>
                <option value="{{option.id}}" *ngFor="let option of providerIcaList">{{option.label}}</option>
              </select>
            </div>
            <div class="form-group col-lg-2 col-sm-4 col-6">
              <label>Receiver Bank Name</label>
              <select formControlName="acquirer.bankID.id" class="form-control form-control-sm" (change)="onReceiverBankNameChange($event.target.value)">
                <option value="-1">Filter by receiver bank name</option>
                <option value="{{option.id}}" *ngFor="let option of bankNames">{{option.label}}</option>
              </select>
            </div>
            <div class="form-group col-lg-2 col-sm-4 col-6">
              <label>Receiver ICA</label>
              <select formControlName="acquirer.id" class="form-control form-control-sm">
                <option value="-1">Filter by receiver bank ica</option>
                <option value="{{option.id}}" *ngFor="let option of receiverIcaList">{{option.label}}</option>
              </select>
            </div>
            <div class="form-group col-lg-2 col-sm-4 col-6">
              <button style="margin-top: 28px;" type="submit" class="btn btn-orange">Filter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-12 margin-5 content-section" *ngIf="dynamicTabs">
      <mat-tab-group #tabs (selectedIndexChange)="tabChangeEvent($event)" disabled="true" [color]="tabHeaderColor" style="background: white;margin-top: 5px;">
        <mat-tab *ngFor="let tab of dynamicTabs; let index = index" [label]="tab.title">
          <ng-template matTabContent>
            <div class="col-sm-12">
              <mat-toolbar>
                <mat-toolbar-row style="color: #000000; padding: 0px;">
                  <span class="example-spacer"></span>
                  <button *ngFor="let item of tab.button" class="{{item.class}}" (click)="item.btnClkHandler(item.refrence)">{{item.label}}</button>
                </mat-toolbar-row>
              </mat-toolbar>
            </div>
            <app-fabric-ag-grid 
              [gridToBeRefresh]="gridToBeRefresh" 
              [restUrl]="tab.gridUrl" 
              [columnDefs]="tab.columnDefinitions" 
              [staticData]="tab.staticData">
            </app-fabric-ag-grid>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>