<mat-toolbar class="toolbar-black">
    <mat-toolbar-row>
            <button mat-icon-button (click)="talkBack('N')">
                    <i class="material-icons app-toolbar-menu">menu </i>
            </button>
            <!--<button mat-icon-button (click)="sidenav.toggle();" *ngIf="!matDrawerShow">
                    <i class="material-icons app-toolbar-menu">menu </i>
            </button>-->
        <span>Deloitte <span style="color: #86BC25">ADx</span></span>
        <span class="example-spacer"></span>
        <mat-icon>verified_user</mat-icon>
      </mat-toolbar-row>
</mat-toolbar>
