<ng-container>


  <nav class="navbar fixed-top navbar-expand-lg navbar-dark my-navbar">
    <a class="navbar-brand" href="#">
      <span class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
          width="43.75px" height="27px" viewBox="0 0 43.75 27" enable-background="new 0 0 43.75 27" xml:space="preserve">
          <g id="logo-for-twitter" transform="translate(28.000000, 627.000000)">
            <rect id="Rectangle-path" x="-11.701" y="-623.071" fill="#F16022" width="11.303" height="20.311" />
            <path id="XMLID_107_" fill="#E91D25" d="M-10.982-612.916c0-4.12,1.929-7.79,4.934-10.155c-2.197-1.729-4.97-2.761-7.983-2.761   c-7.133,0-12.916,5.782-12.916,12.916S-21.165-600-14.032-600c3.013,0,5.786-1.031,7.983-2.761   C-9.054-605.126-10.982-608.796-10.982-612.916z"
            />
            <path id="Shape_12_" fill="#F69E1E" d="M14.848-612.916c0,7.134-5.781,12.916-12.915,12.916c-3.013,0-5.785-1.031-7.981-2.761   c3.004-2.365,4.933-6.035,4.933-10.155s-1.929-7.79-4.933-10.155c2.196-1.729,4.969-2.761,7.981-2.761   C9.066-625.832,14.848-620.05,14.848-612.916z M13.615-604.912v-0.416h0.168v-0.085h-0.427v0.085h0.168v0.416H13.615z    M14.445-604.912v-0.501h-0.131l-0.15,0.345l-0.151-0.345h-0.131v0.501h0.093v-0.378l0.141,0.326h0.096l0.142-0.327v0.379H14.445z"
            />
          </g>

        </svg>
        <strong>mastercard</strong> interchange invoice Portal
      </span>
    </a>
    <button class="navbar-toggler dxp dxp-icon " type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-icons">
        menu
      </span>
    </button>
    <div class="collapse navbar-collapse topnav mobile-nav-bar-collapse" id="navbar1">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">
            Signup
            <span class="sr-only">(current)</span>
          </a>

        </li>
        <li class="nav-item">
          <a class="nav-link">
            Support

          </a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="containerX main-container">
    <div class="container-fluid full-height">
      <div class="row full-height login-col">

        <div class="right-col">
          <mat-card [ngStyle]="{'height.%': 100, 'width.%': 100}" class="login-box">
            <mat-toolbar class="login-header">
              <mat-toolbar-row>
                <span class="common-font-family">Sign In</span>
              </mat-toolbar-row>
            </mat-toolbar>
            <app-progress-bar [showProgressBar]="showProgressBar"></app-progress-bar>
            <mat-card-content>

              <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="userForm" (ngSubmit)="login()">
                <div class="row mb-5">
                  <div class="col-md-12 ">
                    <div class="form-group">
                      <label>User ID</label>
                      <input type="text" id="username" formControlName="username" required class="form-control" placeholder="Enter your user ID"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Password or Passcode</label>
                      <input type="password" formControlName="password" required id="password" class="form-control" placeholder="Enter your password or passcode"
                      />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <button class="btn btn-primary" color="primary" type="submit" [disabled]="!userForm.valid" (click)="login()">Login</button>
                  </div>
                </div>
              </form>

              <span class="">
                <a href="#" class="common-font-family orange">Forgot password</a>
              </span>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <app-fixed-footer></app-fixed-footer>
</ng-container>
<!--
<mat-toolbar color="primary" style="min-height: 50px !important; height: 50px !important;">
  <mat-toolbar-row>
    <span>
      <img class="logo" src="assets/mc_hrz_rev.svg">
    </span>
    <span class="common-font-family app-title-text">Invoice bifurcation</span>
    <span class="example-spacer"></span>
    <button mat-button>Signup</button>
    <button mat-button>Support</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="containerX" [ngStyle.xs]="{'height.%': 100}">
  <div fxLayout="column" fxFlex="100%">
    <div fxFlex="100%" fxLayout="row" fxLayout.xs="column">

      <div fxFlex="100%" fxLayoutAlign="flex-end flex-start" fxFlexOrder.xs="1" fxFlexOffset.xs="20px">
        <mat-card [ngStyle.xs]="{'height.px': 210, 'width.%': 80}" [ngStyle.sm]="{'height.px': 250, 'width.%': 90}" [ngStyle]="{'height.%': 100, 'width.%': 30}">
          <mat-toolbar class="login-header">
            <mat-toolbar-row>
              <span class="common-font-family">Sign In</span>
            </mat-toolbar-row>
          </mat-toolbar>
          <app-progress-bar [showProgressBar]="showProgressBar"></app-progress-bar>
          <mat-card-content>
		  <br>
            <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="userForm" (ngSubmit)="login()">
              <div class="form-group">
                <label>User ID</label>
                <input type="text" id="username" formControlName="username" required class="form-control" placeholder="Enter your user ID"
                />
              </div>
              <div class="form-group">
                <label>Password or Passcode</label>
                <input type="password" formControlName="password" required id="password" class="form-control" placeholder="Enter your password or passcode"
                />
              </div>
              <button class="btn btn-primary" color="primary" type="submit" [disabled]="!userForm.valid" (click)="login()">Login</button>
            </form>
            <br />
            <br />
            <span>
              <a href="#" class="common-font-family orange">Forgot password</a>
            </span>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<app-fixed-footer></app-fixed-footer>
-->