.containerX {
  width: 100%;
  background: url(../../assets/background.jpg);
  background-size:cover;
}
mat-error {
  border: 1px solid black;
  padding:5px 5px;
  border-radius: 5px;
  font-family: MarkForMCNrw!important;
}

.containerX .mat-toolbar.mat-primary.mat-toolbar-multiple-rows {
  background: transparent;
}

.login-header {color: #000000; font-family: MarkForMCNrw!important; background: transparent;}

.mat-card{
  padding-top: 5rem;
  padding-right:10%;
  width:40%;
}
.login-header {color: #000000; background: transparent;     font-size: 24px;}
.login-header .mat-toolbar-row{
padding-left:0px;
padding-right:0px;
}

.form-control_custom{
  border: 1px solid #96918b;
  padding: 1rem;
  border-radius: 4px;
}


.form-control,internal-autofill-selected{
  background: #fff;
}

.main-container {
	
}
.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.login-box{
	
	padding-left:44px;
	padding-right:115px;
	    margin-right: 7%;
}
.right-col{
	padding-right:45px;
}
.my-navbar{
  height: 54px;
  background-color: #141313!important;
  padding-left:45px;
  padding-right:45px;
}

.mobile-nav-bar-collapse{
    width: 100%;
    margin-left: -16px;
    margin-right: -16px;
	
}
.topnav{
	 background-color: #141313!important;
	     padding-right: 16px;
}
.topnav a{
	 display: block;
    text-align: center;
    padding: 15px 12px;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 3px solid transparent;
	    text-align: left;
}
.login-col{
	    justify-content: flex-end;
}
.right-col{
	max-width:544px;
}
.footer.fixed-bottom{
    position: absolute;
}
.main-container{
    height: calc(100vh - 104px);
}
@media screen and (max-width: 1560px) {
	.login-box{
		padding-left:30px;
	padding-right:20%;
	    margin-right: 0;
		}
		.main-container{
	
}

}


@media screen and (max-width: 768px) {
	.topnav {
	 background-color:#323231!important;
		}
		.divider{
	    background: #555250;
    height: 1px;
}
.topnav a {
    border-bottom:none;
	border-left:3px solid transparent;
}
.topnav a:hover {
    border-bottom:none;
	border-left:3px solid #fff;
}
.navbar-toggler:not(:disabled):not(.disabled){
	outline:none;
}
.my-navbar{
	    padding-left: 25px;
    padding-right: 25px;
}
.right-col {
    padding-right: 25px;
	    padding-left: 25px;
}	
.navbar-toggler{
	    padding: 0;
}
.login-col{
	padding-top:54px;
}
.main-container{
    height: calc(100vh - 75px);
}
}
@media screen and (max-width: 767px) {
	
	.login-box{
		padding-left:30px;
	padding-right:30px;
	    margin-right: 0;
		padding-top:1rem;
		
	}
	.navbar-brand{
	margin-right: 0.5rem;
		}


}
@media screen and (max-width: 580px) {
	.logo{
	font-size:14px;
		}
		.logo svg{
		width:30px;
		    margin-right: 5px;
			}
			
			.footer{
				position:relative;}
				
	
}
@media screen and (max-width: 420px) {
	.my-navbar{
	    padding-left: 16px;
    padding-right: 16px;
}
	
.right-col {
    padding-right: 16px;
	    padding-left: 16px;
}	
}
@media (min-width : 375px) and (max-width : 824px) and (orientation : landscape)  {
	.main-container{
	position:relative;
}
	.main-container {
    height: auto;
}
}