<h2 mat-dialog-title>View Invoice</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-sm-8">
      <form>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Invoice Number</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.invoiceNumber">
          </div>
          <div class="form-group col-md-3">
            <label>Invoice Date</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.invoiceDate">
          </div>
          <div class="form-group col-md-3">
            <label>Total Invoice Amount</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.totaInvoiceAmt">
          </div>
          <div class="form-group col-md-3">
            <label>Total Taxable Amount</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.totalTaxableValue">
          </div>
          <div class="form-group col-md-3">
            <label>Recon Amount</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.reconAmt">
          </div>
          <div class="form-group col-md-3">
            <label>Recon Indicator</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.reconIndicator">
          </div>
          <div class="form-group col-md-3">
            <label>Recon Amount CCY</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.reconAmtCcy">
          </div>
          <div class="form-group col-md-3">
            <label>Recon Amount Curr Code</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.reconCurrCode">
          </div>
          <div class="form-group col-md-3">
            <label>Transaction Amount</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.transAmt">
          </div>
          <div class="form-group col-md-3">
            <label>Transaction Indicator</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.transAmtIndicator">
          </div>
          <div class="form-group col-md-3">
            <label>Transaction CCY</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.transFeeCcy">
          </div>
          <div class="form-group col-md-3">
            <label>Transaction Curr Code</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.transFeeCurrCode">
          </div>

          <div class="form-group col-md-3">
            <label>IGST</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.igst">
          </div>
          <div class="form-group col-md-3">
            <label>SGST</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.sgst">
          </div>
          <div class="form-group col-md-3">
            <label>CGST</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.cgst">
          </div>
          <div class="form-group col-md-3">
            <label>Total GST</label>
            <input type="text" disabled class="form-control-sm form-control" [value]="invoiceDetails.totalGst">
          </div>

          <div class="form-group col-md-6">
            <label>Issuer Address</label>
            <textarea class="form-control-sm form-control" disabled>{{invoiceDetails.issuerAddress}}</textarea>
          </div>
          <div class="form-group col-md-6">
            <label>Acquirer Address</label>
            <textarea class="form-control-sm form-control" disabled>{{invoiceDetails.acquirerAddress}}</textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <mat-list>
        <mat-list-item *ngFor="let item of auditLog">
          <div mat-line>Action by: {{item.firstName}} {{item.lastName}} ({{item.roleName}})</div>
          <div mat-line>Workflow State: {{item.workFlowState}}</div>
          <div mat-line>Action at: {{item.createdAt | date}} </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>