.grid-height {
    height: 230px;
}

::ng-deep .ag-theme-balham .ag-header {
    background-color: #FFFFFF!important;
    color: black;
}

.page-number {
    border: solid 1px black;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
}

.pagination-font-size {
    font-size: 12px;
}

.ag-theme-balham .ag-root-wrapper{
	border:none;
}

@media screen and (max-width: 480px) {
	
	.mat-icon-button{
	    width: 20px;
    height: 20px;
		}
		.page-number {
		padding: 5px 10px 5px 10px;
			}
}