<div class="row">
  <div class="col-sm-12">
    <ag-grid-angular #agGrid style="width: 100%;" id="myGrid" class="grid-height ag-theme-balham" [columnDefs]="columnDefs" [rowData]="rowData"
      (gridReady)="onGridReady($event)" [loadingCellRenderer]="loadingCellRenderer" [rowSelection]="'multiple'" [defaultColDef]="defaultColDef" [frameworkComponents]="frameworkComponents" [rowHeight]="rowHeight">
    </ag-grid-angular>
  </div>
  <div class="col-sm-12" style="margin-top: 10px; height: 50px;">
    <button mat-icon-button aria-label="First Page" (click)="goToFirstPage()" [disabled]="firstPageButtonDisabled">
      <mat-icon aria-hidden="false">skip_previous</mat-icon>
    </button>
    <button mat-icon-button aria-label="Previous Page" (click)="goToPreviousPage()" [disabled]="previousPageButtonDisabled">
      <mat-icon aria-hidden="false">arrow_left</mat-icon>
    </button>
    <span class="pagination-font-size">Page&nbsp;&nbsp;
      <span class="page-number">{{pageNumber}}</span>
      &nbsp;&nbsp;Of&nbsp;&nbsp;{{totalPages}}
    </span>
    <button mat-icon-button aria-label="Next Page" (click)="goToNextPage()" [disabled]="nextPageButtonDisabled">
      <mat-icon aria-hidden="false">arrow_right</mat-icon>
    </button>
    <button mat-icon-button aria-label="Last Page" (click)="goToLastPage()" [disabled]="lastPageButtonDisabled">
      <mat-icon aria-hidden="false">skip_next</mat-icon>
    </button>
    <span class="pagination-font-size">
      Displaying({{pageNumber}}-{{paginationPageSize}} of {{totalCount}})
    </span>
  </div>
</div>