<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3" *ngFor="let item of workFlowStates">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-title">Workflow State</p>
          <input type="text" class="form-control" [(ngModel)]="item.label" />
          <br />
          <button class="btn btn-sm btn-orange" (click)="updateWorkFlowStateLabel(item.id)">Update</button>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
<br />