  <mat-toolbar *ngIf="gridHeaderText || (topActionButtons && topActionButtons.length > 0)" class="ae-st-gridToolbar">
  <span>{{gridHeaderText}}</span>
  <span fxFlex></span>
  <div *ngIf="topActionButtons && topActionButtons.length > 0" class="desktop-only">
    <button class="dc-16-svg" mat-icon-button (click)="topActionButton.btnClkHandler()" *ngFor="let topActionButton of topActionButtons">
      <mat-icon [matTooltip]="topActionButton.tooltip" [svgIcon]="topActionButton.iconName"></mat-icon>
    </button>
  </div>
  <div class="ver-divider" *ngIf="topActionButtons && topActionButtons.length > 0 && enableRowSelection"></div>
</mat-toolbar>
<div class="custom-grid-container">
  <mat-table #table [dataSource]="dataSource" matSort>
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    <ng-container *ngIf="enableRowSelection" matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox *ngIf="!singleSelect" [(ngModel)]="selectedAllCheckBox" (click)="allCheckBoxClicked(selectedAllCheckBox)"></mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox [(ngModel)]="selectedCheckBox[row.id]" (click)="rowCheckBoxClicked(row,selectedCheckBox[row.id])"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container *ngIf="isGridFilterOn" matColumnDef="filter">
      <mat-header-cell class="custom-filter" *matHeaderCellDef>
        <button *ngIf="isGridFilterOn" mat-icon-button (click)="gridFilterClicked()">
          <mat-icon svgIcon="filter" matTooltip="filter"></mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell class="custom-filter" *matCellDef="let row"></mat-cell>
    </ng-container>
    <div *ngFor="let column of gridColumnHeaders">
      <ng-container [matColumnDef]="column.mappingDataField">
        <mat-header-cell [ngClass]="column.className" *matHeaderCellDef mat-sort-header>{{column.title}} </mat-header-cell>
        <mat-cell [ngClass]="column.className" *matCellDef="let row;let i = index">
          <div class="ae-filter-dropdown" *ngIf="openGridFiltersFields && i==0 && isGridFilterOn && column.isAdvanceField">
            <!-- Menu for advance filter -->
            <button mat-icon-button [matMenuTriggerFor]="menuForAdvanceFilters" #menuTrigger="matMenuTrigger">
              <!-- (mouseenter)="menuTrigger.openMenu()"> -->
              <mat-icon class="ae-filter-icon ae-grid-icons"></mat-icon>
            </button>
            <mat-menu class="ae-mat-menu" #menuForAdvanceFilters="matMenu" xPosition="before" yPosition="below">
              <button *ngFor="let menu of menuContentAdvanceFilter" mat-menu-item (click)="menu.btnClckHandler(column.mappingDataField)">
                <mat-icon class="ae-grid-icons" [ngClass]="menu.className"></mat-icon>{{menu.menuItem}}</button>
            </mat-menu>
            <!-- TextField for advance filter -->
            <mat-form-field class="custom-advance-field" floatPlaceholder="never">
              <input matInput [placeholder]="showplaceholderFilter[column.mappingDataField]" [(ngModel)]="advanceFields[column.mappingDataField]"
                (blur)="advanceFilterSearch($event)">
            </mat-form-field>
          </div>
          <div *ngIf="!column.isDate && !column.includeComponent">
            <p *ngIf="row[column.mappingDataField]" [innerHTML]='row[column.mappingDataField]'> </p>
          </div>
          <div *ngIf="column.isDate && !column.isDateTime && !column.includeComponent">{{row[column.mappingDataField] | date}}</div>
          <div *ngIf="column.isDateTime && !column.includeComponent">{{row[column.mappingDataField] | date:"dd-MM-yyyy 'at' h:mma"}}</div>
          <div *ngIf="column.includeComponent">
            <p>
              <fabric-grid-comp-include [component]="column.includeComponent" [data]="row" (dataFromComponent)="dataFromComponent($event)"></fabric-grid-comp-include>
            </p>
          </div>
        </mat-cell>
      </ng-container>
    </div>
    <div *ngIf="customColumns && customColumns.length > 0 && gridColumnHeaders.length > 0" class="dxp">
      <ng-container *ngFor="let column of customColumns" [matColumnDef]="column.title">
        <mat-header-cell class="custom-action-block" [ngClass]="column.cssClass" *matHeaderCellDef> {{column.title}} </mat-header-cell>
        <mat-cell *matCellDef="let row;let i =index" class="custom-action-block" [ngClass]="column.cssClass" fxLayout="row">

          <div *ngIf="isGridFilterOn?i!=0:i>=0">

            <div *ngIf="column.includeComponent">
              <fabric-grid-comp-include [component]="column.includeComponent" [data]="row" (dataFromComponent)="dataFromComponent($event)"></fabric-grid-comp-include>
            </div>

            <div *ngIf="!column.includeComponent">

              <div *ngIf="column.type==='button'">
                <button mat-raised-button *ngFor="let button of column.buttonsOrIcons" [disabled]="button.isDisabled" (click)="button.customColumnClkHandler(row)">
                  {{button.label}}
                </button>
              </div>

              <div *ngIf="column.type==='icon'">
                <button mat-icon-button *ngFor="let icon of column.buttonsOrIcons" (click)="icon.customColumnClkHandler(row)">
                  <mat-icon [matTooltip]="icon.tooltip" [svgIcon]="icon.iconName"></mat-icon>
                </button>
              </div>

            </div>

          </div>
        </mat-cell>
      </ng-container>
    </div>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="custom-mat-row" [ngClass]="i==0  && !openGridFiltersFields && isGridFilterOn ? 'gridFilterRow':i==0 &&openGridFiltersFields?'custom-grid-filter-row':''"
      *matRowDef="let row; columns: displayedColumns;let i=index"></mat-row>
  </mat-table>
  <mat-paginator #paginator class="custom-paginator" [length]="dataSource.totalCount" [pageIndex]="initialPage" [pageSize]="pageLimit"
    [pageSizeOptions]="paginationLimitOptions">
  </mat-paginator>

</div>