.custom-grid-container {display: flex;flex-direction: column;/*max-height: 500px;*/min-width: 300px;}
.ae-st-gridToolbar{background: #fff;}
.ver-divider {height: 16px; width: 2px; background: #d2d0d0; display: inline-block;	 line-height: 40px;}


/*Custom Grid CSS*/
.custom-grid-container .mat-header-row{ background: #ffffff; color: #000000;}
.custom-grid-container .mat-header-row .mat-header-cell {color: #000000; font-size: 12px; line-height: 48px;font-family: MarkForMCNrw!important;}

.mat-header-row {/*position: sticky; top: 0;*/ background: white; z-index: 92;}
.custom-filter{width: 30px;flex: inherit;}
.custom-bg{color: #fff;margin-bottom: 5px;}
.custom-green{background-color: #4cb050;}
.custom-red{background-color: #fe5722;}
.custom-orange{background-color: #eeb403;}
/* .custom-grid-actionButton button.custom-bg { margin-right: 5px;}
.custom-grid-actionButton {width: 222px; flex: inherit;} */

.mat-raised-button.custom-green[disabled]{ background-color: rgba(71, 179, 76, 0.3); color: #fff; font-weight: 600;}
.mat-raised-button.custom-red[disabled]{background-color: rgba(223, 25, 35, 0.3); color: #fff; font-weight: 600;}

.gridFilterRow{ display: none;}
.custom-grid-filter-row { height: 32px; background: #f1efef; /*position: -webkit-sticky; position: sticky;top: 49px;*/ z-index: 92;}
.custom-advance-field {width: calc(100% - 83px);}
.ae-filter-dropdown { margin: 0; float: left;display: flex;}
.ae-filter-dropdown .mat-button {padding: 0; min-width: 24px;}
.custom-advance-field .mat-form-field-wrapper {padding-bottom: 8px;}
.mat-menu-content button.mat-menu-item { height: auto; line-height: inherit;}
.ae-filter-dropdown .mat-icon-button { width: 28px;}

/* .custom-grid-actionButton div {float: left;} */
.desktop-only{display: block;}
/* .custom-grid-status {width: 36px;-webkit-box-flex: inherit;-ms-flex: inherit; flex: inherit;} */

/* ae-grid-icons */
button.mat-menu-item {width: 100%; height: auto; line-height: 28px; font-size: 13px;}

.ae-grid-icons {background-image: url(images/grid-component.svg); background-repeat: no-repeat; width: 24px; height: 24px; float: left; }
.ae-filter-icon{ background-position: -239px 0; margin-top: 0px;}
.ae-grid-filter-clear {background-position: 37px 5px;}
.ae-grid-filter-startsWith {background-position: -37px -5px;}
.ae-grid-filter-endsWith{background-position: -65px -5px;}
.ae-grid-filter-equals{background-position: -152px -5px;}
.ae-grid-filter-contains{background-position: -93px -5px;}
.ae-grid-filter-notEquals{background-position:-180px -5px;}
.ae-grid-filter-notContains{background-position: -122px -5px;}

.custom-grid-visit-status { width: 48px;flex: inherit;}
.custom-action-column { width: 222px; flex: inherit;}

@media only screen and (min-width:768px) and (max-width:1024px){
    .mat-header-cell{display: none;}
    .mat-header-cell:first-child{display: block;}
    .mat-header-cell:nth-child(2){display: block;}
    .mat-header-cell:nth-child(3){display: block;}
    .mat-header-cell:nth-child(4){display: block;}
    .mat-cell.custom-action-block{ display: block;}

    .mat-cell{display: none;}
    .mat-cell:first-child{display: block;}
    .mat-cell:nth-child(2){display: block;}
    .mat-cell:nth-child(3){display: block;}
    .mat-cell:nth-child(4){display: block;}

    .mat-header-cell.custom-action-block{ display: block;}
    .custom-grid-actionButton button.custom-bg{padding: 0 10px;}
    .custom-grid-actionButton {width: 210px;}
}

@media only screen and (min-width:1px) and (max-width:767px){
    .mat-header-row, .mat-row{ padding: 0 12px;}
    
    .mat-header-cell{display: none;}
    .mat-header-cell:first-child{display: block;}
    .mat-header-cell:nth-child(2){display: block;}
    .mat-cell{display: none;}
    .mat-cell:first-child{display: block;}
    .mat-cell:nth-child(2){display: block;}    
    /*.mat-cell.custom-action-block{ display: block;width: 80px;}
    .mat-header-cell.custom-action-block{ display: block; width: 80px;}*/

    .custom-grid-visit-status { width: 48px;flex: inherit;}
    .custom-action-column { width: 88px; flex: inherit; display: block;}

    .custom-grid-actionButton button.custom-bg { box-shadow: none; margin-bottom: 0; margin-right: 5px;width: 28px; padding: 0; min-width: 28px; text-indent: -99999px;}
    .custom-green{background: url(/assets/svgs/check-out44.svg) no-repeat center;height: 24px; margin-top: 5px;}
    .custom-red{background: url(/assets/svgs/check-in44.svg) no-repeat center;height: 24px; margin-top: 5px;}
    .custom-orange{background: url(/assets/svgs/issue-badge44.svg) no-repeat center;}

    .ae-st-gridToolbar span {font-size: 18px;} 
    .desktop-only{display: none;}
    .ae-st-gridToolbar{height: 40px;}
    .custom-grid-container{min-width: 275px;}
    .custom-paginator .mat-paginator-container {align-items: flex-start;justify-content: space-between; width: 98%;}
    .custom-paginator .mat-paginator-container .mat-paginator-page-size {width: 179px; margin-right: 0;float: left;}
    .custom-paginator .mat-paginator-container .mat-paginator-range-actions { width: 126px;float: right;}
    .custom-paginator .mat-paginator-container .mat-paginator-range-actions .mat-paginator-range-label {margin: 0 2px;}
    .custom-paginator .mat-icon-button { width: 18px;}
}