<div class="container-fluid">
  <div class="row margin-top-5">
    <div class="col-sm-3 custom-padding" *ngFor="let item of countingDashboard">
      <mat-card class="full-width">
        <span>
          <h1 style="margin: 0px;">{{item.total}}</h1>
          <h4 style="margin: 0px;">{{item.title}}</h4>
        </span>
      </mat-card>
    </div>
  </div>
  <div class="row margin-top-5">
    <div class="col-sm-6 custom-padding" *ngFor="let item of dynamicDashboard">
      <mat-card class="full-width dashboard-height">
        <app-discovery-dashboard height="100%" [legendShow]="true" heading="Bank wise sent invoices" [position]="['50%', '50%']" [radius]="['40%', '51%']"></app-discovery-dashboard>
      </mat-card>
    </div>
  </div>
</div>
