<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-page-bar [pageTitle]="'User Management'" [buttons]="pageBarButtons"></app-page-bar>
    </div>
    <div class="col-sm-12">
      <app-fabric-ag-grid [gridToBeRefresh]="gridToBeRefresh" [restUrl]="gridUrl" [columnDefs]="columnDefinitions"
        [staticData]="staticData">
      </app-fabric-ag-grid>
    </div>
  </div>
</div>