<h2 mat-dialog-title>Reject Invoice</h2>
<mat-dialog-content class="mat-typography">
  <form class="full-width" [formGroup]="rejectInvoiceForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Rejection Reason*</label>
      <div class="col-sm-10">
        <select formControlName="rejectionReason" class="form-control form-control-sm" required>
          <option value="{{option.id}}" *ngFor="let option of rejectReasons">{{option.label}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Rejection Notes*</label>
      <div class="col-sm-10">
        <textarea formControlName="rejectionNotes" class="form-control form-control-sm"
          placeholder="Please specify rejection notes" required></textarea>
      </div>
    </div>
    <div align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [disabled]="!rejectInvoiceForm.valid">Submit</button>
    </div>
  </form>
</mat-dialog-content>
