<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-page-bar [pageTitle]="'Configurations'"></app-page-bar>
    </div>
    <div class="col-sm-12">
      <mat-tab-group>
        <mat-tab label="Bank ICA Management">
          <ng-template matTabContent>
            <app-bank-ica-management></app-bank-ica-management>
          </ng-template>
        </mat-tab>
        <mat-tab label="Workflow Management">
          <ng-template matTabContent>
            <app-work-flow-states></app-work-flow-states>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>